
<span id="skills-bullets" class="hidden">

  <small>hover over links to see blurbs</small>
  <div class="grid">

    <div class="grid-item">
      <div class="skills-item-title">Ruby</div>
      <a data-tooltip="<%= blurbs(:sinatra) %>" href="www.sinatrarb.com">
        Sinatra,
      </a>
      <a data-tooltip="<%= blurbs(:rails) %>" href="http://rubyonrails.org/">
        Rails,
      </a>
      <a data-tooltip="<%= blurbs(:gemmy) %>" href="https://github.com/maxpleaner/gemmy">
        making gems,
      </a>
      <a data-tooltip="<%= blurbs(:eventmachine) %>" href="https://github.com/eventmachine/eventmachine">
        EventMachine,
      </a>
      <a data-tooltip="<%= blurbs(:resque) %>" href="https://github.com/resque/resque">
        Resque,
      </a>
      <a data-tooltip="<%= blurbs(:sidekiq) %>" href="http://sidekiq.org">
        Sidekiq,
      </a>
      <a data-tooltip="<%= blurbs(:yaml) %>" href="http://yaml.org">
        YAML,
      </a>
      <a data-tooltip="<%= blurbs(:sounds_rb) %>" href="github.com/maxpleaner/sounds">
        Music
      </a>
    </div>

    <div class="grid-item">
      <div class="skills-item-title">APIs</div>
      <a data-tooltip="<%= blurbs(:json) %>" href="http://json.org/">
        JSON,
      </a>
      <a data-tooltip="<%= blurbs(:ajax) %>" href="https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started">
        AJAX,
      </a>
      <a data-tooltip="<%= blurbs(:websockets) %>" href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">
        Websockets,
      </a>
      <a data-tooltip="<%= blurbs(:oauth) %>" href="https://oauth.net/">
        oAuth,
      </a>
      <a data-tooltip="<%= blurbs(:push_notifications) %>" href="https://en.wikipedia.org/wiki/Push_technology">
        push notifications,
      </a>
      <a data-tooltip="<%= blurbs(:chatbots) %>" href="https://en.wikipedia.org/wiki/Chatbot">
        chat bots
      </a>
    </div>

    <div class="grid-item">
      <div class="skills-item-title">Storage</div>
      <a data-tooltip="<%= blurbs(:postgres) %>" href="https://www.postgresql.org/">
        Postgres,
      </a>
      <a data-tooltip="<%= blurbs(:mysql) %>" href="https://www.mysql.com/">
        MySql,
      </a>
      <a data-tooltip="<%= blurbs(:sqlite) %>" href="https://sqlite.org/">
        SQLite,
      </a>
      <a data-tooltip="<%= blurbs(:redis) %>" href="https://redis.io/">
        Redis,
      </a>
      <a data-tooltip="<%= blurbs(:firebase) %>" href="https://firebase.google.com/">
        Firebase,
      </a>
      <a data-tooltip="<%= blurbs(:mongodb) %>" href="https://www.mongodb.com">
        MongoDB,
      </a>
      <a data-tooltip="<%= blurbs(:pstore) %>" href="https://ruby-doc.org/stdlib-2.1.0/libdoc/pstore/rdoc/PStore.html">
        PStore,
      </a>
      <a data-tooltip="<%= blurbs(:tmsu) %>" href="http://tmsu.org/">
        TMSU filesystem tagging,
      </a>
      <a data-tooltip="<%= blurbs(:s3) %>" href="https://aws.amazon.com/s3/">
        AWS S3
      </a>
    </div>

    <div class="grid-item">
      <div class="skills-item-title">Hosting</div>
      AWS 
      <a data-tooltip="<%= blurbs(:elastic_beanstalk) %>" href="https://aws.amazon.com/elasticbeanstalk/">
        Elastic Beanstalk
      </a> and 
      <a data-tooltip="<%= blurbs(:ec2) %>" href="https://aws.amazon.com/ec2/">,
        EC2
      </a>
      AWS 
      <a data-tooltip="<%= blurbs(:s3_hosting) %>" href="http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html">
        S3 static hosting,
      </a>
      <a data-tooltip="<%= blurbs(:github_pages) %>" href="https://pages.github.com/">
        Github pages,
      </a>
      <a data-tooltip="<%= blurbs(:heroku) %>" href="https://www.heroku.com/">
        Heroku,
      </a>
      <a data-tooltip="<%= blurbs(:linode) %>" href="https://www.linode.com/">
        Linode
      </a>
    </div>

    <div class="grid-item">
      <div class="skills-item-title">Unix</div>
      <a data-tooltip="<%= blurbs(:linux) %>" href="https://en.wikipedia.org/wiki/Linux">
        Linux,
      </a>
      <a data-tooltip="<%= blurbs(:ubuntu) %>" href="https://www.ubuntu.com/">
        Ubuntu,
      </a>
      <a data-tooltip="<%= blurbs(:bash) %>" href="https://www.gnu.org/software/bash/">
        Bash,
      </a>
      <a data-tooltip="<%= blurbs(:fish) %>" href="https://fishshell.com/">
        Fish,
      </a>
      <a data-tooltip="<%= blurbs(:tmux) %>" href="https://tmux.github.io/">
        tmux,
      </a>
      <a data-tooltip="<%= blurbs(:screen) %>" href="https://www.gnu.org/software/screen/">
        screen,
      </a>
      <a data-tooltip="<%= blurbs(:git) %>" href="https://git-scm.com/">
        git
      </a>
    </div>

    <div class="grid-item">
     <div class="skills-item-title">ORM</div>
      <a data-tooltip="<%= blurbs(:datamapper) %>" href="http://datamapper.org/">
        DataMapper,
      </a>
      <a data-tooltip="<%= blurbs(:active_record) %>" href="http://guides.rubyonrails.org/active_record_basics.html">
        ActiveRecord,
      </a>
      <a data-tooltip="<%= blurbs(:sequelize) %>" href="http://sequelizejs.com/">
        Sequelize,
      </a>
      <a data-tooltip="<%= blurbs(:redis_objects) %>" href="https://github.com/nateware/redis-objects">
        redis-objects,
      </a>
      <a data-tooltip="<%= blurbs(:tmsu_ruby) %>" href="http://github.com/maxpleaner/tmsu-ruby">
        custom filesystem ORM
      </a>
    </div>

    <div class="grid-item">
      <div class="skills-item-title">Test Automation</div>
      <a data-tooltip="<%= blurbs(:selenium) %>" href="http://www.seleniumhq.org/">
        Selenium,
      </a>
      <a data-tooltip="<%= blurbs(:capybara) %>" href="https://github.com/teamcapybara/capybara">
        Capybara,
      </a>
      <a data-tooltip="<%= blurbs(:mechanize) %>" href="https://github.com/sparklemotion/mechanize">
        Mechanize,
      </a>
      <a data-tooltip="<%= blurbs(:rspec) %>" href="http://rspec.info/">
        RSpec,
      </a>
      <a data-tooltip="<%= blurbs(:cucumber) %>" href="https://cucumber.io/">
        Cucumber,
      </a>
      <a data-tooltip="<%= blurbs(:jasmine) %>" href="https://jasmine.github.io/">
        Jasmine,
      </a>
      <a data-tooltip="<%= blurbs(:headless) %>" href="https://github.com/leonid-shevtsov/headless">
        headless
      </a>

    </div>

    <div class="grid-item">
      <div class="skills-item-title">Front-end</div>
      <a data-tooltip="<%= blurbs(:slim) %>" href="http://slim-lang.com/">
        Slim (HTML),
      </a>
      <a data-tooltip="<%= blurbs(:sass) %>" href="http://sass-lang.com/">
        SASS (CSS),
      </a>
      <a data-tooltip="<%= blurbs(:bootstrap) %>" href="http://getbootstrap.com">
        Bootstrap,
      </a>
      <a data-tooltip="<%= blurbs(:coffeescript) %>" href="http://coffeescript.org">
        Coffeescript (Javascript),
      </a>
      <a data-tooltip="<%= blurbs(:backbone) %>" href="http://backbonejs.org/">
        Backbone.js,
      </a>
      <a data-tooltip="<%= blurbs(:masonry) %>" href="http://masonry.desandro.com">
        Masonry,
      </a>
      <a data-tooltip="<%= blurbs(:html5_audio) %>" href="https://en.wikipedia.org/wiki/HTML5_Audio">
        audio/,
      </a>
      <a data-tooltip="<%= blurbs(:html5_video) %>" href="https://en.wikipedia.org/wiki/HTML5_video">
        video/,
      </a>
      <a data-tooltip="<%= blurbs(:google_maps) %>" href="https://developers.google.com/maps/">
        maps,
      </a>
      <a data-tooltip="<%= blurbs(:speech) %>" href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API">
        speech
      </a>
    </div>

    <div class="grid-item">
      <div class="skills-item-title">Node.js</div>
      <a data-tooltip="<%= blurbs(:express) %>" href="http://expressjs.com/">
        Express,
      </a>
      <a data-tooltip="<%= blurbs(:meteor) %>" href="https://www.meteor.com/">
        Meteor,
      </a>
      <a data-tooltip="<%= blurbs(:react) %>" href="https://facebook.github.io/react/">
        React,
      </a>
      <a data-tooltip="<%= blurbs(:babel) %>" href="https://babeljs.io/">
        Babel,
      </a>
      <a data-tooltip="<%= blurbs(:bower) %>" href="https://bower.io/">
        Bower,
      </a>
      <a data-tooltip="<%= blurbs(:browserify) %>" href="http://browserify.org/">
        Browserify
      </a>
    </div>

  </div>

</span>

