<div class="page-container">
  <b>Max Pleaner</b><br><br><br>
  <b class="redbox-link section-btn links" target="#links">Links</b>
  <b class="redbox-link section-btn email" target="#email">Email</b>
  <b class='redbox-link section-btn skills-bullets' target="#skills-bullets">Skills (bullet points)</b>
  <b class='redbox-link section-btn programming-skills' target="#programming-skills">Skills (longer blurbs)</b>
  <b class="redbox-link section-btn experience" target="#experience">Experience </b>
  <b class="redbox-link section-btn education" target="#education">Education </b>
  <b class="redbox-link section-btn portfolio" target="#portfolio" >Things I've made</b>
</div>

<div class="page-container">
  <%= render "partials/portfolio" %>
  <%= render "partials/links" %>
  <%= render "partials/email" %>
  <%= render "partials/programming_skills" %>
  <%= render "partials/skills_bullets" %>
  <%= render "partials/experience" %>
  <%= render "partials/education" %>
</div>

